<div class="px-8 py-2 rounded-md border border-gray-400 mx-36 my-16">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 pl-16 pt-16 :px-6 xl:grid-cols-3">
  <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
    <li>
      <div class="flex items-center gap-x-6">
        <img src="./img/profile.png" alt="image">
        <div>
          <h1 class="text-xl font-semibold leading-7 tracking-tight text-gray-900">Sudhakar-Maheshwaran</h1>
          <p class="text-sm font-semibold leading-6 text-indigo-600">Front end developer intern</p>
          <a href="">Thanjavur</a>
          <br>
          <span>Github : </span><a href="https://github.com/Sudhakar-Maheshwaran/fyle-internship-challenge-23">https://github.com/Sudhakar-Maheshwaran/fyle-internship-challenge-23</a>
        </div>
      </div>  
    </li>
  </ul>
</div>
<div class="pt-8 px-8"><a href="https://www.linkedin.com/in/sudhakar-mkr-816545253">https://www.linkedin.com/in/sudhakar-mkr-816545253</a></div>
<div class="grid gap-x-8 gap-y-4 grid-cols-2 justify-items-center bg-gray-10 py-8 px-6">
<div class="px-4 py-2 rounded-md border">
  <h1>Summary</h1>
  <p>"Passionate front-end developer dedicated to crafting responsive and visually appealing web applications.Committed to staying updated on industry trends and collaborating with cross-functional teams to deliver high-quality, user-centric solutions."</p>
</div>
<div class="px-4 py-2 rounded-md border">
  <h1>Skills</h1>
    <ul>
      <li>HTML5 & CSS</li>
      <li>JavaScript</li>
      <li>Angular JS</li>
    </ul>
</div>
<div class="px-4 py-2 rounded-md border">
  <h1>language</h1>
  <ul>
    <li>Tamil</li>
    <li>English</li>
  </ul>
</div>
<div class="px-4 py-2 rounded-md border">
  <h1>about us</h1>
</div>
</div>
<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-900">
        Showing
        <span class="font-medium">1</span>
        to
        <span class="font-medium">10</span>
        of
        <span class="font-medium">100</span>
        results
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <a href="#" class="relative inline-flex items-center rounded-l-full px-2 py-2 text-gray-400 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
          <span class="sr-only">Previous</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
          </svg>
        </a>
        <a href="#" aria-current="page" class="relative z-10 inline-flex items-center bg-purple-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">1</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">2</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">3</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">4</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">5</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">6</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">7</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">8</a>
        <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">9</a>
        <a href="#" class="relative inline-flex items-center rounded-r-full px-2 py-2 text-gray-400 ring-1 ring-inset ring-purple-400 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
          <span class="sr-only">Next</span>
          <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </a>
      </nav>
    </div>
  </div>
</div>
</div>
